body {
    background-color: #edf6e9;
    font-family: sans-serif;
}

.bar-container {
    background-color: #ffddd2;
    font-size: 1.3rem;
    width: 60%;
    height: 2rem;
    margin: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;
}

.bar {
    z-index: 5;
    background-color: #ff9b71;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width 0.1s;
}

.label {
    z-index: 10;
}