body {
    /* background-color: #edf6e9; */
    background-color: #111111;
    font-family: sans-serif;
    color: #ccc;
}

.bar-container {
    /* background-color: #ffddd2; */
    background-color: #424B54;
    font-size: 1.3rem;
    width: 60%;
    height: 2rem;
    margin: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;
}

.bar {
    z-index: 5;
    /* background-color: #ff9b71; */
    background-color: #93A8AC;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width 0.1s;
}

.label {
    z-index: 10;
}